<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elasticsearch.engine.elasticsearchengine.extend.mybatis.mapper.ItemsMapper">

    <sql id="Base_Column_List">
        item_no, sku_name, status
    </sql>
    
    <select id="getByItemNo" resultType="com.elasticsearch.engine.elasticsearchengine.model.exception.ItemsEntity">
<!--        SELECT-->
<!--        <include refid="Base_Column_List"/>-->
<!--        FROM items t INNER JOIN item_extend d-->
<!--        ON  t.id=d.id-->

        <!--SELECT * FROM supplier_item_spare WHERE item_no = #{itemNo}-->

        SELECT  item_no, sku_name, status FROM items t INNER JOIN item_extend d 
        on t.id = d.id
        WHERE t.item_no = #{itemNo} AND  d.item_no=#{itemNo} AND d.status = #{status}
        Group by d.item_no order by t.status

<!--        SELECT  item_no, sku_name, status FROM supplier_item_spare t INNER JOIN supplier_item_spare d-->
<!--        on t.id = d.id-->
<!--        WHERE t.item_no = #{itemNo}  AND  d.status = #{status}-->
    </select>
</mapper>
